@use "../../styles/abstracts/variables" as *;

.header {
  justify-self: center;
  width: 100%;
  max-width: 625px;
  margin-bottom: 45px;

  @media (min-width: $md) {
    margin: 0;
  }
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
